<div class="container">
	<button (click)="docListEdit()">Edit doc list</button>
	<div *ngIf="docListEditMode">
		<app-list-mgmt
			[table]="docListTable"
			[index]="docListIDName"
			[column]="docListColumn"
			[position]="docListPosition"
			(listCloseEvent)='docListCloseEvent($event)'>
		</app-list-mgmt>
	</div>
	<button (click)="docThemeListEdit()">Edit doc Theme list</button>
	<div *ngIf="docThemeListEditMode">
		<app-list-mgmt
			[table]="docThemeListTable"
			[index]="docThemeListIDName"
			[column]="docThemeListColumn"
			[position]="docThemeListPosition"
			(listCloseEvent)='docThemeListCloseEvent($event)'>
		</app-list-mgmt>
	</div>
	<button (click)="docDisplayListEdit()">Edit doc Display list</button>
	<div *ngIf="docDisplayListEditMode">
		<app-list-mgmt
			[table]="docDisplayListTable"
			[index]="docDisplayListIDName"
			[column]="docDisplayListColumn"
			[position]="docDisplayListPosition"
			(listCloseEvent)='docDisplayListCloseEvent($event)'>
		</app-list-mgmt>
	</div>
</div>
<h1>Associating doc list to theme list</h1>
<div class="flex-row">
	<div class="flex-box"> 
		<h2>Theme</h2>
		<select 
			name="theme"
			size="10"
			[(ngModel)]="themeID"
			(change)="themeChange()">
			<option
				[value]="0">
				-- All --
			</option>
			<option *ngFor="let theme of docThemes"
				[value]="theme.idx">
				{{theme.value}}
			</option>
			<option
				[value]="-1">
				-- Orphans --
			</option>
		</select>
	</div>
	<div class="flex-box">
		<h2>List</h2>
		<select 
			name="Lists"
			size="10"
			[(ngModel)]="listID"
			(change)="listChange()">
			<option *ngFor="let list of docLists"
				[value]="list.idx">
				{{list.value}}
			</option>
		</select>
	</div>
	<div class="flex-box">
		<button (click)="themeEditChange()">{{themeEdit}}</button>
	</div>
	<div *ngIf="themeEditFlag" class="flex-box flex-column">
		<div class="flex-box">
			Move selected list to below theme
		</div>
		<div class="flex-box">
			<select 
				name="themeTarget"
				size="10"
				[(ngModel)]="themeTargetID"
				(change)="themeTargetChange()">
				<option *ngFor="let theme of docThemes"
					[value]="theme.idx">
					{{theme.value}}
				</option>
				<option
					[value]="-1">
					-- Orphans --
				</option>
			</select>
		</div>
		<div class="flex-box">
			<button (click)="moveListToTheme()">Submit</button>
		</div>
	</div>
</div>
<div class="flex-row">
	<div class="flex-box">
		<h2>Articles</h2>
		<select 
			(dblclick)="articleEdit()"
			name="Articles"
			size="10"
			[(ngModel)]="articleID"
			(change)="articleChange()">
			<option *ngFor="let article of articlesShort"
				[value]="article.idx">
				{{article.idx}} - {{article.position}} : {{article.description}}
			</option>
		</select>
	</div>
</div>
<template #articleEditContainer>
</template>
