.container {
	border: 1px solid blue;
  padding: 5px;
	margin: 5px;
  box-sizing: border-box;
}

.master-select {
	display: flex;
	flex-direction: row;
	border: 1px solid blue;
  padding: 5px;
	margin: 5px;
  box-sizing: border-box;
}
.master-container {
	flex: 1 1 auto;
}
