<table class="serverCom" ><tr>
	<td width='80px' >
	<div *ngIf="!isConnected">
		<button arial-label="Connect to server"	(click)="connect()"
			 mat-icon-button color="primary">Connect</button>
	</div>
	<div *ngIf="isConnected">
		<button arial-label="Disconnect" (click)="disconnect()"
			mat-icon-button color="warn">Disconnect</button>
	</div>
	</td><td>
		Verbosity client:
		<select 
			[(ngModel)]="verbosityClientFlag" 
			(change)="verbosityClient()">
			<option [value]="1">1</option>
			<option [value]="2">2</option>
			<option [value]="3">3</option>
			<option [value]="4">4</option>
			<option [value]="5">5</option>
			<option [value]="6">6</option>
			<option [value]="7">7</option>
		</select>
	</td><td>
		<div *ngIf="isConnected">
		server:
		<select 
			[(ngModel)]="verbosityServerFlag" 
			(change)="verbosityServer()">
			<option [value]="1">1</option>
			<option [value]="2">2</option>
			<option [value]="3">3</option>
			<option [value]="4">4</option>
			<option [value]="5">5</option>
			<option [value]="6">6</option>
			<option [value]="7">7</option>
		</select>
		</div>
	</td>
</tr><tr>
	<td>
		<div *ngIf="isConnected">
			<div *ngIf="!isLogged">
				<button arial-label="Login"	(click)="login()"
			 		mat-icon-button color="primary">Login</button>
			</div>
			<div *ngIf="isLogged">
				<button arial-label="Logout" (click)="logout()"
					mat-icon-button color="warn">Logout</button>
			</div>
		</div>
		<div *ngIf="displayLogin">
			<app-login 
				(loginCloseEvent)='loginCloseEvent($event)'>
			</app-login>
		</div>
	</td><td>	
		<div>
			<button arial-label="GetUserINfo" (click)="getUserInfo()"
				mat-icon-button color="primary">Info</button>
		</div>
	</td><td>
		Debug mode <input [(ngModel)]="debugFlag" type="checkbox" arial-label="Debug" >
	</td>
</tr></table>
<BR>
<BR>
<div *ngIf="debugFlag">
<form class="form-container">
	<mat-form-field>
		<input name="address" placeholder="address" [(ngModel)]="address" matInput>
	</mat-form-field>
</form>
<form class="form-container">
	<mat-form-field>
		<input name="domain" placeholder="domain" [(ngModel)]="domain"
			[disabled]="!isConnected" matInput>
	</mat-form-field>
	<mat-form-field>
		<input name="command" placeholder="command" [(ngModel)]="command"
			[disabled]="!isConnected" matInput>
	</mat-form-field>
	<mat-form-field>
		<input name="message" placeholder="message" [(ngModel)]="message"
			[disabled]="!isConnected" matInput>
		<button arial-label="Send message" (click)="send($event)"
			[disabled]="!isConnected" matSuffix>Send</button>
	</mat-form-field>
</form>
<div class="websocket-console" #st4rsend_console>
	<table>
		<tr *ngFor="let msg of messages ; let index = index">
			<td>{{index}}</td><td>{{msg}}</td>
		</tr>
	</table>
</div>
</div>
