.app-header {
	display: flex;
	display-direction: column;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	width: max-width;
	height: 2em;
}

.toolbar-icon {
	flex: 0 1 auto;
	margin: 0;
	padding: 0;
	text-align: center;
}

.toolbar-title {
	flex: 1 0 auto;
	text-align: center;
	margin: 0;
	padding: 0;
	font-size: 26px;
}

.toolbar-button {
	flex: 0 1 auto;
	margin-right: 10px;
	margin-top: 4px;
	min-width: 50px;
	padding: 0;
}

.cursor-notco {
	cursor: cell;
}
.cursor-co {
	cursor: default;
}

.menu-icon {
	margin: 0;
	padding-left: 16px;
	text-align: left;
}

.menu-item {
	margin-left: 10px;
	margin-right: 10px;
	font-size: 14px;
}


