<div fxFlex fxLayout="row" fxLayoutAlign="space-between center" class="toolbar">
	<button mat-icon-button [matMenuTriggerFor]="appMenu" aria-label="icon">
		<mat-icon>menu</mat-icon>
	</button>
	<mat-menu #appMenu="matMenu">
			<a routerLink="/home">
				<mat-icon>home</mat-icon>
			</a>
		<div>----</div>
		<div *ngIf="connectFlag" class="toolbar-menu-item">
			<mat-menu #subMenu="matMenu">
				<a routerLink="doc/base"><button mat-menu-item>Doc</button></a>
				<a routerLink="todo/base"><button mat-menu-item>Todo</button></a>
				<div *ngIf="isLogged">
					<a routerLink="mgmt/base"><button mat-menu-item>Mgmt</button></a>
				</div>
			</mat-menu>
			<button mat-menu-item [matMenuTriggerFor]='subMenu'>
				Applications
			</button>
			<div>----</div>
			<div *ngIf="!loginFlag" class="toolbar-menu-item">
				<button (click)="login()"
		 		mat-menu-item color="primary">Login</button>
			</div>
			<div *ngIf="loginFlag" class="toolbar-menu-item">
				<button (click)="logout()"
					mat-menu-item color="warn">Logout</button>
			</div>
			<button mat-menu-item (click)="disconnect()"
				 color="warn">Disconnect
			</button>
		</div>
		<div *ngIf="!connectFlag" class="toolbar-menu-item">
			<button mat-menu-item	(click)="connect()"
				 color="primary">Connect</button>
		</div>
		<div>----</div>
		<div *ngIf="connectFlag && loginFlag" class="toolbar-menu-item">
			<button (click)="getUserInfo()"
				mat-menu-item color="primary">Info</button>
		</div>
		<div *ngIf="debugFlag" class="toolbar-menu-item">
			<button (click)="debug(false)"
				mat-menu-item color="primary">UnDebug</button>
		</div>
		<div *ngIf="!debugFlag" class="toolbar-menu-item">
			<button (click)="debug(true)"
				mat-menu-item color="warn">Debug</button>
		</div>
	</mat-menu>
	<div #title (click)="titleClick()" class="toolbar-title cursor-notco">
		St4rsend
	</div>
	<div class="toolbar-button">
		<div *ngIf="connectFlag" >
			<mat-icon>settings_remote</mat-icon>
		</div>
		<div *ngIf="loginFlag" >
			<mat-icon>perm_identity</mat-icon>
		</div>
	</div>
</div>
<div *ngIf="loginDisplayFlag">
	<app-login 
		(loginCloseEvent)='loginCloseEvent($event)'>
	</app-login>
</div>
