<div fxFlex  fxLayout="row" fxLayoutAlign="flex-left" class="toolbar">
	<button mat-icon-button [matMenuTriggerFor]="appMenu" aria-label="icon">
		<mat-icon>menu</mat-icon>
	</button>
	<mat-menu #appMenu="matMenu">
		<div *ngIf="isConnected" class="toolbar-menu-item">
			<mat-menu #subMenu="matMenu">
				<a routerLink="doc/base"><button mat-menu-item>Doc</button></a>
				<a routerLink="todo/base"><button mat-menu-item>Todo</button></a>
				<div *ngIf="isLogged">
					<a routerLink="mgmt/base"><button mat-menu-item>Mgmt</button></a>
				</div>
			</mat-menu>
			<button mat-menu-item [matMenuTriggerFor]='subMenu'>
				Applications
			</button>
			<div>----</div>
			<div *ngIf="!isLogged" class="toolbar-menu-item">
				<button (click)="login()"
		 		mat-menu-item color="primary">Login</button>
			</div>
			<div *ngIf="isLogged" class="toolbar-menu-item">
				<button (click)="logout()"
					mat-menu-item color="warn">Logout</button>
			</div>
			<button mat-menu-item (click)="disconnect()"
				 color="warn">Disconnect
			</button>
		</div>
		<div *ngIf="!isConnected" class="toolbar-menu-item">
			<button mat-menu-item	(click)="connect()"
				 color="primary">Connect</button>
		</div>
		<div>----</div>
		<div *ngIf="isConnected && isLogged" class="toolbar-menu-item">
			<button (click)="getUserInfo()"
				mat-menu-item color="primary">Info</button>
		</div>
		<div *ngIf="debugFlag" class="toolbar-menu-item">
			<button (click)="debug(false)"
				mat-menu-item color="primary">UnDebug</button>
		</div>
		<div *ngIf="!debugFlag" class="toolbar-menu-item">
			<button (click)="debug(true)"
				mat-menu-item color="warn">Debug</button>
		</div>
	</mat-menu>
	<div class="toolbar-title">St4rsend</div>
	<div class="toolbar-item">
		Verbosity client:
		<select 
			[(ngModel)]="verbosityClientFlag" 
			(change)="verbosityClient()">
			<option [value]="1">1</option>
			<option [value]="2">2</option>
			<option [value]="3">3</option>
			<option [value]="4">4</option>
			<option [value]="5">5</option>
			<option [value]="6">6</option>
			<option [value]="7">7</option>
		</select>
	</div>
	<div *ngIf="isConnected" class="toolbar-item">
		server:
		<select 
			[(ngModel)]="verbosityServerFlag" 
			(change)="verbosityServer()">
			<option [value]="1">1</option>
			<option [value]="2">2</option>
			<option [value]="3">3</option>
			<option [value]="4">4</option>
			<option [value]="5">5</option>
			<option [value]="6">6</option>
			<option [value]="7">7</option>
		</select>
	</div>
	</div>
	<div class="toolbar">
	<div *ngIf="displayLogin">
		<app-login 
			(loginCloseEvent)='loginCloseEvent($event)'>
		</app-login>
	</div>
</div>
