<table>
	<tr>
		<th width=200>
<button (click)="todoSynchro()"
	 mat-icon-button color="warn">Refresh</button>
		</th>
	</tr>
</table>
<table border='1'>
	<thead display=block>
	<tr>
		<th>Done</th>
		<th>idx</th>
		<th>User</th>
		<th>Task</th>
		<th>Target date</th>
		<th>Done date</th>
	</tr>
	</thead>
	<tbody display=block height=250px overflow-y=auto overflow-x=hidden>
	<tr *ngFor="let todo of todos ; let index = index"
		[class.completed]="todo.completed">
		<td><input type="checkbox" [checked]="todo.completed"
			(change)="onToggleCompletion(todo.idx);"></td>
		<td>{{todo.idx}}</td>
		<td>{{todo.user}}</td>
		<td>{{todo.label}}</td>
		<td>{{todo.targetDate}}</td>
		<td>{{todo.doneDate}}</td>
		<td><button (click)="updateTodo(todo.idx);">Update</button></td>
		<td><button (click)="removeTodo(todo.idx);">Delete</button></td>
	</tr>
	</tbody>
</table>
