<table>
	<tr>
		<th width=200>
<button arial-label="TODOS" (click)="todoSynchro()"
	 mat-icon-button color="warn">TODO Synchro</button>
		</th>
		<th width=200>
<button arial-label="USERS" (click)="userSynchro()"
	 mat-icon-button color="warn">User Synchro</button>
		</th>
		<th width=200>
<button arial-label="ALL" (click)="allSynchro()"
	 mat-icon-button color="warn">all Synchro</button>
		</th>
	</tr>
</table>
<table border='1'>
	<tr>
		<th>Done</th>
		<th>idx</th>
		<th>User</th>
		<th>Task</th>
		<th>Target date</th>
		<th>Done date</th>
		<th>Action</th>
	</tr>
	<tr *ngFor="let todo of todos; let index = index"
		[class.completed]="todo.completed">
		<td><input type="checkbox" [checked]="todo.completed"
			(change)="onToggleCompletion(index);"></td>
		<td>{{todo.idx}}</td>
		<td>{{todo.user}}</td>
		<td>{{todo.label}}</td>
		<td>{{todo.targetDate}}</td>
		<td>{{todo.doneDate}}</td>
		<td><button (click)="removeTodo(todo.idx);">Delete</button></td>
	</tr>
</table>

<table border='1'>
	<tr>
		<th>User ID</th>
		<th>User name</th>
	</tr>
	<tr *ngFor="let user of userList">
		<th>{{user.id}}</th>
		<th>{{user.value}}</th>
	</tr>
</table>
