.grey-overlay {
	// theme defined
}
.outer-border {
	// theme defined
}
.header {
	height: 2em;
	vertical-align: top;
	opacity: 1;	
}
.bottom {
	height: 1.5em;
	vertical-align: bottom;
}
.description {
	border: thin solid red;
	background-color: #999999;
	text-align: center;
}
.cancel {
	float: right;
}
.item-list {
	width: auto;
	margin: 0 10% 5% 10%;
	border: solid 1px silver;
}
.item-box {
	border-radius: 1px;
	border: thin solid silver;
	//float: bottom;
}
.input-number {
	text-align: center;
}
.item-handle {
	cursor: move;
	text-align: center;
	width: 2em;
}
