<div class="grey-overlay">
</div>
<div class="outer-border">
	<div class="header">
		<button (click)="validate();">CONFIRM</button>
		<div class="cancel">
			<button (click)="allowDelete();">Deletion</button>
			<button (click)="reset();">Reset</button>
			<button (click)="cancel();">Cancel</button>
		</div>
	</div>
	<div>
		<H3> {{table}}</H3>
	</div>
	<div cdkDropList class="item-list" (cdkDropListDropped)="drop($event)">
		<div *ngFor="let item of newList" class="item-box" cdkDrag>
				<input type="text" size="25" [(ngModel)] = "item.value">
			<ng-container *ngIf="deleteMode">
				<button (click)="deleteItem(item.idx);">Del</button>
			</ng-container>
			<div class="item-handle" cdkDragHandle>
			H
			</div>
		</div>
	</div>
	<div class="bottom">
		<button (click)="newItem()">New</button>
	</div>
</div>
