.grey-overlay {
	// theme defined
}
.outer-border {
	// theme defined
}
.header {
	height: 25px;
	vertical-align: top;
	opacity: 1;	
}
.bottom {
	height: 25px;
	vertical-align: bottom;
}
.description {
	border: thin solid red;
	background-color: #999999;
}
.cancel {
	float: right;
}
.confirm {
	float: left;
}

.item-list {
	width: 300px;
	max-width: 100%;
	border: solid 1px blue;
	overflow: hidden;
	display: block;
}
.item-box {
	border-radius: 1px;
	border: thin solid blue;
	float: bottom;
	background-color: #FFFFFF;
	display: block;
}
.item-handle {
	position: relative;
	float: right;
	color: #ccc;
	cursor: move;
}
