.outer-border {
	position: absolute;
	//top: 150px;
	//left: 100px;
	border: thick solid red;
	border-radius: 8px;
  z-index: 1;
}
.head-bar {
	cursor: move;
	display: flex;
	display-direction: column;
	justify-content: space-between;
}
.bottom {
	height: 25px;
	vertical-align: bottom;
}
.description {
	border: thin solid red;
	//background-color: #999999;
}
.cancel {
	float: right;
}
.confirm {
	float: left;
}
.text {
	//background-color: white;
	float: bottom;
}

.text-area {
	background-color: white;
	color: black;
}
