.outer-border {
	position: absolute;
	//top: 150px;
	//left: 100px;
	border: thick solid red;
	border-radius: 8px;
  z-index: 1;
}
.head-bar {
	cursor: move;
	display: flex;
	display-direction: row; 
	justify-content: space-between;
	flex-wrap: wrap;
}

.mat-item {
	flex: 1 1 auto;
	transform: scale(.8);
}

.mat-but {
	flex: 1 1 auto;
}

.bottom {
	height: 25px;
	vertical-align: bottom;
}
.description {
//	border: thin solid red;
}

.text-area {
//	background-color: white;
//	color: black;
}
