.outerBorder {
	width: 600px;
	height: 600px;
	position: absolute;
	top: 150px;
	left: 100px;
	border: thick solid red;
	background-color:#CCCCCC;
}
.header {
	height: 25px;
	vertical-align: top;
}
.description {
	border: thin solid red;
	background-color: #999999;
}
.cancel {
	float: right;
}
.confirm {
	float: left;
}
.text {
	float: bottom;
}
