.menu-container {
	padding-left: 135px;
	display: flex;
	display-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.menu-item-generic {
	margin: 3px;
}

.menu-item-refresh {
	transform: scale(.75);
}
