	<form (ngSubmit)="createTodo(todo)">
		<table><tr><td>
		<div class="todo-user">User __________: 
			<select 
				name="todoUser"
				[(ngModel)]="todo.userID">
				<option *ngFor="let user of userList" [ngValue]="user.id">{{user.value}}</option>
			</select>
		</div>
		</td><td>
		<div class="todo-label"> Label__________: 
			<input #todoInput 
				type="text"
				name="todoLabel"
				[(ngModel)]="todo.label">
		</div>
		</td></tr><tr><td>
		<div class="todo-target-date">Target date______:
			<input
				type="date"
				name="todoTargetDate"
				[(ngModel)]="todo.targetDate">
		</div>
		</td><td>
		<div class="todo-done-date">Done date_______:
			<input
				type="date"
				name="todoDoneDate"
				[(ngModel)]="todo.doneDate">
		</div>
		</td></tr><tr><td>
		<div class="todo-completed">Completed______:
			<input
				type="checkbox"
				name="todoCompleted"
				[(ngModel)]="todo.completed">
		</div>
		</td><td>
		<div class="todo-confirm">
			<input type="checkbox"
				name="confirmed"
				[(ngModel)]="confirmed">
				Confirming the above!
		</div>
		</td></tr>
		</table>
	</form>
	<button [disabled]="!confirmed" type="submit" (click)="createTodo(todo); todoInput.value = ''">
	Submit	
	</button>
<h4>Todo: {{todo | json}}</h4>
