.itemDocOuter {
	border: thin solid blue;
}

.itemDocDescription {
	border-style: none none dotted;
	background-color: #cccccc;
}

.editButton {
	width: 30px;
	float: right;
}

.dyn-doc-viewport {
  height: calc(90vh - 260px);
  min-height: 150px;
  width: auto;
}

.dyn-doc-item {
  //height: 50px;
}

