.viewport {
  height: calc(100vh - 5em);
  min-height: 250px;
  width: auto;
	margin: 0;
}

.doc-item-description {
	float: top;
	width: 100%;
	border-style: none none dotted;
	font-weight: bold;
}

.doc-item-format {
	display: flex;
	flex-direction: row;
	margin: 0 1% 0 1%;
	min-height: 70px;
	//border: thin solid #ffffff;
}

.edit-left {
	flex: 1 1 auto;
	width: auto;
}

.item {
	flex: 1 1 auto;
	overflow-x: hidden;
}

.edit-right {
	flex: 0 1 50px;
	display: flex;
	margin: 0;
	padding: 0;
	flex-direction: column;
	justify-content: space-between;
	overflow-y: hidden;
}

button {
	flex: 2 2 auto;
	transform: scale(.6);
	height: 12px;
}
