
.itemDocDescription {
	border-style: none none dotted;
	background-color: #cccccc;
}

.editButton {
	width: 30px;
	float: right;
}

.viewport {
  height: calc(100vh - 330px);
  min-height: 150px;
  width: auto;
}

.item {
	background-color: #e8e8e8;
	border: thin solid #eaeaea;
  //height: 50px;
}

.item-edit {
	background-color: #e8e8e8;
	border: thin solid red;
	display: flex;
	flex-direction: column;
}

.item-highlight {
	background-color: #cccccc;
}
.item-edit-highlight {
	background-color: #aaccaa;
}
