.outer-border {
	position: absolute;
	top: 150px;
	left: 100px;
	border: thick solid green;
	padding: 10px;
	border-radius: 15px;
  z-index: 1;
	//background-color: blue;
}

.header {
	cursor: move;
	text-align: center; 
}

.form-group {
	display: flex;
	flex-direction: column;
}

.toolbar {
	display: flex;
	display-direction: row;
	justify-content: space-between;
}

.btn {
	border: thin solid blue;
	flex: 0 0 auto;
}

