<div class="outer-border">
	<div class="header">
		Change password
	</div>
	<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
		<div class="form-group">
			<mat-form-field apparence="outline">
				<mat-label>Old password</mat-label>
				<input type="password"
					autofocus
					formControlName="oldPassword"
					matInput
					class="form-control"
					[ngClass]="{ 'is-invalid':submitted && formControls.oldPassword.errors }"/>
			</mat-form-field>
			<mat-form-field apparence="outline">
				<mat-label>New password</mat-label>
					<input type="password" 
						formControlName="newPassword"
						matInput
						class="form-control"
						[ngClass]="{'is-invalid':submitted && formControls.newPassword.errors }"/>
			</mat-form-field>
		</div>
		<div class="toolbar">
			<div class="btn">
					<button type="submit">Confirm</button>
			</div>
			<div class="btn">
				<button (click)="close()">Cancel</button>
			</div>
		</div>
	</form>
</div>
