.outer-border {
	padding: 10px;
}

.header {
	text-align: center; 
}

.form-group {
	display: flex;
	flex-direction: column;
}

.toolbar {
	display: flex;
	display-direction: row;
	justify-content: space-between;
}

.btn {
	border: thin solid primary;
	flex: 0 0 auto;
}

