.outer-border {
	padding: 10px;
}

.header {
	text-align: center; 
}

.form-group {
	display: flex;
	flex-direction: column;
}

.toolbar {
	display: flex;
	display-direction: row;
	justify-content: space-between;
}

.btn {
	flex: 0 0 auto;
}

.link {
	text-align: center;
	flex-grow: 1;
	color: yellow;
}

.warning {
	font-size: 1.5em;
	text-align: center;
}
