<div class="outer-border">
	<div class="header">
		<H1>Register form NOT OPERATIONAL YET</H1>
		<H2>Welcome to register form</H2>
	</div>
	<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
		<div class="form-group">
			<mat-form-field apparence="outline">
				<mat-label>Username</mat-label>
				<input 
					autofocus
					formControlName="username"
					matInput
					class="form-control"
					[ngClass]="{ 'is-invalid':submitted && formControls.username.errors }"/>
			</mat-form-field>
			<mat-form-field apparence="outline">
				<mat-label>Password</mat-label>
					<input type="password" 
						password
						formControlName="password"
						matInput
						class="form-control"
						[ngClass]="{'is-invalid':submitted && formControls.password.errors }"/>
			</mat-form-field>
			<mat-form-field apparence="outline">
				<mat-label>Firstname</mat-label>
					<input
						formControlName="firstname"
						matInput
						class="form-control"
						[ngClass]="{'is-invalid':submitted && formControls.firstname.errors }"/>
			</mat-form-field>
			<mat-form-field apparence="outline">
				<mat-label>Lastname</mat-label>
					<input
						formControlName="lastname"
						matInput
						class="form-control"
						[ngClass]="{'is-invalid':submitted && formControls.lastname.errors }"/>
			</mat-form-field>
			<mat-form-field apparence="outline">
				<mat-label>e-mail</mat-label>
					<input email
						formControlName="eMail"
						matInput
						class="form-control"
						[ngClass]="{'is-invalid':submitted && formControls.eMail.errors }"/>
			</mat-form-field>
		</div>
		<div class="warning">
			WARNING !!! No password recovery mechanism implemented yet !!!<BR>
			No e-mail mechanism either
		</div>
		<div class="toolbar">
			<button type="submit" class="btn">Register</button>
			<button class="btn" (click)="cancel()">Cancel</button>
		</div>
	</form>
</div>
