<div>
	<div class="websocket-console" [style.height]="statusLineCount">
		<table>
			<tr *ngFor="let msg of backendMsg.slice().reverse()">
				<td><pre>{{msg.payload.data[1]}} -- {{msg.payload.data[2]}}</pre></td>
			</tr>
		</table>
	</div>
</div>
<div *ngIf="debugFlag" class="debug-panel">
	<div class="top-row">
		<div>
			<mat-label>Verbosity client:</mat-label>
			<select 
				[(ngModel)]="clientVerbosity" 
				(change)="setClientVerbosit()">
				<option [value]="1">1</option>
				<option [value]="2">2</option>
				<option [value]="3">3</option>
				<option [value]="4">4</option>
				<option [value]="5">5</option>
				<option [value]="6">6</option>
				<option [value]="7">7</option>
			</select>
		</div>
		<div *ngIf="isConnected">
			<mat-label>Verbosity Server:</mat-label>
			<select 
				[(ngModel)]="serverVerbosity" 
				(change)="setServerVerbosity()">
				<option [value]="1">1</option>
				<option [value]="2">2</option>
				<option [value]="3">3</option>
				<option [value]="4">4</option>
				<option [value]="5">5</option>
				<option [value]="6">6</option>
				<option [value]="7">7</option>
			</select>
		</div>
			<div *ngIf="!isConnected">
				<mat-form-field appearance="outline">
					<mat-label>WebSocket URL </mat-label>
					<input  [(ngModel)]="webSocketUrl" matInput>
				</mat-form-field>
				<button (click)="setWebSocketUrl()"
					mat-button>Change</button>
			</div>
	</div>
	<div *ngIf="isConnected" class="middle-row">
		<div class="middle-row-left">
			<mat-form-field appearance="outline">
				<mat-label>Domain</mat-label>
				<input placeholder="Domain" matInput [(ngModel)]="debugDomain">
			</mat-form-field>
			<mat-form-field appearance="outline">
				<mat-label>Command</mat-label>
				<input placeholder="Command" matInput [(ngModel)]="debugCommand">
			</mat-form-field>
		</div>
		<div class="middle-row-right">
			<mat-form-field appearance="outline">
				<mat-label>data</mat-label>
    		<textarea placeholder="data" matInput
					cdkTextareaAutosize
					cdkAutosizeMinRows="2"
					cdkAutosizeMaxRows="5"
					#autosize="cdkTextareaAutosize"
					[(ngModel)]="msgToServer">
				</textarea>
			</mat-form-field>
			<button (click)="sendDebugMsg()"
				 mat-mini-fab>Send</button>
		</div>
	</div>
	<div class="websocket-console" #st4rsend_console>
		<table>
			<tr *ngFor="let msg of messages ; let index = index">
				<td><pre>{{index}}</pre></td><td><pre>{{msg}}</pre></td>
			</tr>
		</table>
	</div>
</div>
