<div *ngIf="debugFlag" fxFlex fxLayout="column">
<div class="debugPanel" fxFlex fxLayout="row">	
	<div>
		Verbosity client:
		<select 
			[(ngModel)]="clientVerbosity" 
			(change)="setClientVerbosit()">
			<option [value]="1">1</option>
			<option [value]="2">2</option>
			<option [value]="3">3</option>
			<option [value]="4">4</option>
			<option [value]="5">5</option>
			<option [value]="6">6</option>
			<option [value]="7">7</option>
		</select>
	</div>
	<div *ngIf="isConnected">
		Verbosity Server:
		<select 
			[(ngModel)]="serverVerbosity" 
			(change)="setServerVerbosity()">
			<option [value]="1">1</option>
			<option [value]="2">2</option>
			<option [value]="3">3</option>
			<option [value]="4">4</option>
			<option [value]="5">5</option>
			<option [value]="6">6</option>
			<option [value]="7">7</option>
		</select>
	</div>
	<div>
			Url: 
      <input name="address" placeholder="address" [(ngModel)]="webSocketUrl" matInput>
		<button (click)="setWebSocketUrl()"
        matSuffix>Change</button>
	</div>
</div>
<div class="debugPanel" fxFlex fxLayout="row">	
	<div>
    <textarea name="message"
			placeholder="message" [(ngModel)]="msgToServer"
      [disabled]="!isConnected"
			matInput rows="5" cols="25"
			ngList="&#10;" ngTrim="false"
			>
		</textarea>
	</div>
</div>
<div  fxFlex fxLayout="row" class="debugPanel">
	Domain:
	<input name="domain" placeholder="domain" [(ngModel)]="debugDomain"
		[disabled]="!isConnected" matInput>
	Command:
	<input name="command" placeholder="command" [(ngModel)]="debugCommand"
		[disabled]="!isConnected" matInput>
	<button arial-label="Send message" (click)="sendDebugMsg()"
		[disabled]="!isConnected" matSuffix>Send</button>
</div>
<div>
<div class="debugPanel" fxFlex fxLayout="row">	
	<div class="websocket-console" #st4rsend_console>
		<table>
			<tr *ngFor="let msg of messages ; let index = index">
				<td><pre>{{index}}</pre></td><td><pre>{{msg}}</pre></td>
			</tr>
		</table>
	</div>
</div>
</div>
