.mgmt-footer {
	width: 100%;
	
}
.mat-label {
	width: 100px;
}
.debug-panel {
	display: flex;
	display-direction: row;
	flex-wrap: wrap;
	font-height: 12px;
	font-family: Roboto; 
}

.top-row {
	display: flex;
	display-direction: column;
	flex-grow: 1;
	justify-content: space-around;
	flex-wrap: wrap;
	height: auto;
	margin: 0;
	padding: 2px;
}
.middle-row {
	display: flex;
	display-direction: column;
	flex-wrap: wrap;
	margin: 0;
	padding: 2px;
	height: auto;
}

.middle-row-left {
	margin: 0;
	flex: 0 1 230px;
	margin-left: 5px;
}

.middle-row-right {
	flex: 1 1 auto;
	margin: 0;
	padding: 2px;
	vertical-align: middle;
}

.websocket-console {
	overflow-y: scroll;
	height: auto;
	height: 0em;
	width: 100%;
	box-shadow: border-box;
	background-color: #eeeeee;
	pre {
		word-wrap: break-word;
		white-space: pre-wrap;
		font-family: monospace, serif;
		font-size: small;
		margin: 0;
		padding: 1px;
		color: black;
		&:nth-child(even) {
			background-color: #d8d8d8;
		}
	}
}

