.debugPanel {
	display: flex;
	border: thin solid orange;
	background-color: #223399;
	color: #eeee33;
	flex-wrap: wrap;
	margin-right: 5px;
}

.websocket-console {
	overflow-y: scroll;
	height: 200px;
	width: 100%;
	box-shadow: border-box;
	background-color: #dddddd;
	pre {
		word-wrap: break-word;
		white-space: pre-wrap;
		font-family: monospace, serif;
		font-size: small;
		margin: 0;
		padding: 1px;
		color: black;
		&:nth-child(even) {
			background-color: #d8d8d8;
		}
	}
}
