.outerBorder {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 150px;
	left: 100px;
	border: thick solid green;
	padding: 10px;
	background-color: darkblue;
	border-radius: 4px;
  z-index: 1;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
              0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.header {
	cursor: move;
	text-align: center; 
}

.toolbar {
	display: flex;
	justifiy-content: center;
}

.btn {
}

.link {
	text-align: center;
	flex-grow: 1;
}
