<div class="outer-border" cdkDrag>
	<div class="header" cdkDragHandle>
		Login
	</div>
	<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
		<div class="form-group">
			<mat-form-field apparence="outline">
				<mat-label>Username</mat-label>
				<input 
					autofocus
					formControlName="username"
					matInput
					class="form-control"
					[ngClass]="{ 'is-invalid':submitted && formControls.username.errors }"/>
			</mat-form-field>
			<mat-form-field apparence="outline">
				<mat-label>Password</mat-label>
					<input type="password" 
						formControlName="password"
						matInput
						class="form-control"
						[ngClass]="{'is-invalid':submitted && formControls.password.errors }"/>
			</mat-form-field>
		</div>
		<div class="toolbar">
			<button type="submit" class="btn">Login</button>
			<a routerLink="/register" (click)="close()" class="link">Register</a>
			<button (click)="close()" class="btn">Cancel</button>
		</div>
	</form>
</div>
