.app {
	height: auto;
	border: thick solid #0000ff;
}

.control-bar {
	width: 100%;
	height: auto;
	border: none;
}

.corps {
	height: auto;
	min-height: 300px;
	border: solid thin black;
}

.status-bar {
	height: auto;
}
