header {
	border: thick dashed lightgreen;
	margin: 0;
	padding: 1px;
}

body {
	border: thick dashed lightblue;
	margin: 0;
	padding: 1px;
}

.links, .links a {
	padding: 2px 10px 2px 10px;
}

.links a.active {
	background-color: grey;
}
