.app {
	min-height: 50%;
	height: 100%;
	overflow-x: hidden;
}

.headera {
	width: max-width;
	height: auto;
	border: none;
	margin: 0;
	padding: 0;
}

.corps {
	//min-height: auto;
	height: auto;
	//border: solid thin black;
}

.footera {
	height: auto;
	padding: 0;
	margin: 0;
}
