.cdk-virtual-scroll-orientation-vertical {
	display: flex;
	min-height: 85vh;
}


.doc-item-description {
	flex: 1 1 auto;
	float: top;
	width: 100vw;
	border-style: none none dotted;
	font-weight: bold;
}

.doc-item-format {
	display: flex;
	flex-direction: row;
	flex: 1 1 auto;
	height: 100%;
	margin: 0 1% 0 1%;
//	border: thin solid #00ff00;
}

.edit-left {
	flex: 1 1 auto;
	width: auto;
}


.edit-right {
	flex: 0 1 50px;
	display: flex;
	margin: 0;
	padding: 0;
	flex-direction: column;
	justify-content: space-between;
	overflow-y: hidden;
}

button {
	flex: 2 2 auto;
	transform: scale(.6);
	height: 12px;
}
