<table><tr><td width='150px' >
	<button arial-label="Connect to server"	(click)="scConnect()"
		 mat-icon-button color="primary">Connect</button>
	</td><td>
	<button arial-label="Disconnect" (click)="scDisconnect()"
		mat-icon-button color="warn">Disconnect</button>
	</td></tr>
	<tr><td>
	Server verbosity <input [(ngModel)]="scVerbosityFlag" type="checkbox" arial-label="Verbosity" (change)="scVerbosity()">
		<BR>Debug mode <input [(ngModel)]="scDebugFlag" type="checkbox" arial-label="Debug" >
	</td><td>	
		Websocket Connected: {{scIsConnected}}
		<BR>heartbeat sanity: {{heartbeat}}
	</td></tr>
</table>
<BR>
<BR>
<div *ngIf="scDebugFlag">
<form class="form-container">
	<mat-form-field>
		<input name="scAddress" placeholder="scAddress" [(ngModel)]="scAddress" matInput>
	</mat-form-field>
</form>
<form class="form-container">
	<mat-form-field>
		<input name="scDomain" placeholder="scDomain" [(ngModel)]="scDomain"
			[disabled]="!scIsConnected" matInput>
	</mat-form-field>
	<mat-form-field>
		<input name="scCommand" placeholder="scCommand" [(ngModel)]="scCommand"
			[disabled]="!scIsConnected" matInput>
	</mat-form-field>
	<mat-form-field>
		<input name="scMessage" placeholder="scMessage" [(ngModel)]="scMessage"
			[disabled]="!scIsConnected" matInput>
		<button arial-label="Send message" (click)="scSend($event)"
			[disabled]="!scIsConnected" matSuffix>Send</button>
	</mat-form-field>
</form>
<div class="websocket-console" #scSt4rsend_console>
	<table>
		<tr *ngFor="let msg of scMessages ; let index = index">
			<td>{{index}}</td><td>{{msg}}</td>
		</tr>
	</table>
</div>
</div>
