.navigator {
	z-index: 2;
	position: fixed;
	width: 100%;
}

.menu-container {
	position: fixed;
	z-index: 3;
	width: 80%;
	margin: 0 10% 0 10%;
	padding: 0 5% 0 5%;
	//display: flex;
	//display-direction: row;
	//flex-wrap: wrap;
	//justify-content: space-around;
	border-radius: 15px;
	opacity: .87;
}

.menu-tabs-bar {
	display: flex;
	display-direction: row;
	justify-content: space-around;
}
.menu-tab {
	flex: 1 1 auto;
	// Theme defined
	padding: 2px 0 0 0;
	border-radius: 2px;
	text-indent: .5em;
}
.menu-tab-highlight {
	flex: 1 1 auto;
	// Theme defined
	border-style: inset;
}

.menu-item-generic {
	flex: 1 1 auto;
	margin: 3px;
}

.menu-item-refresh {
	margin: 0;
	padding: 0;
	height: 1em;
	transform: scale(.5);
}

.menu-item-new {
	width: 135px;
	text-align: center;
}
