.navigator {
	z-index: 2;
	position: fixed;
	width: 100%;
}

.menu-container {
	position: fixed;
	z-index: 3;
	width: 80%;
	margin: 0 10% 0 10%;
	padding: .5em 1em .5em 1em;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-style: groove;
	border-top-style: none;
	opacity: .92;
}

.menu-tabs-bar {
	display: flex;
	display-direction: row;
	justify-content: space-around;
}
.menu-tab {
	// Theme defined
	padding: .2em 0 .2em 0;
	flex: 1 1 auto;
	border-style: groove;
	text-indent: .5em;
	cursor: pointer;
}
.menu-tab-highlight {
	// Theme defined
	flex: 1 1 auto;
	border-style: inset;
}

.menu-tab-container {
	margin: .5em 0 .5em 0;

}

.menu-nav {
	flex: 0 1 auto;
	display: flex;
	display-direction: row;
	justify-content: flex-end;
}

.menu-nav-item {
	flex: 0 1 auto;
	margin: 0 1em 0 1em 0;
	padding: 0;
	height: 1em;
	transform: scale(.6);
}

.menu-item-new {
	width: 135px;
	text-align: center;
}

.mode-container {
	display: flex;
	display-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.mode-item {
	flex: 1 1 auto;
	margin: 0 2em 1em 2em;
	vertical-align: middle;
}

.menu-new {
	display: flex;
	display-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.button-new {
	flex: 1 1 auto;
	margin: 0 0 1em 0;
	text-align: center;
}
