.navigator {
	z-index: 2;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.menu-container {
	position: fixed;
	z-index: 3;
	width: 80%;
	margin: 0 10% 0 10%;
	padding: 5%;
	display: flex;
	display-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	border-radius: 15px;
	opacity: .87;
}

.menu-item-generic {
	margin: 3px;
}

.menu-item-refresh {
	transform: scale(.75);
}

.menu-item-new {
	width: 135px;
	text-align: center;
}
