.grey-overlay {
	// theme defined
}

.outer-border {
	// theme defined
}
.flex-bar {
	flex: auto;
	display: flex;
	display-direction: row; 
	justify-content: space-between;
	//flex-wrap: wrap;
}

.filler {
	flex: 1 0 auto;

}

.idx {
	cursor: move;
	flex: 1 0 auto;
	width: 80px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
}

.mat-item {
	flex: 1 1 auto;
}

.mat-but {
	margin: 2px;
	flex: 0 0 auto;
	//transform: scale(.8);
}

.select-type {
	flex: 1 1 auto;
	width: 80px;
	padding-left: 5px;
	padding-right: 5px;
}

.position {
	flex: 1 1 auto;
	width: 50px;
	padding-left: 5px;
	padding-right: 5px;
}

.description {
	flex: 1 1 auto;
	width: 50px;
	padding-left: 5px;
	padding-right: 5px;
	width: calc(100% - 10px);
}

.from-file {
	flex: 1 1 auto;
	height: 25px;
	vertical-align: bottom;
}
.base-text {
	flex: 1;
	padding-left: 5px;
	padding-right: 5px;
	width: calc(100% - 10px);
}

