$st4rsend-light-background: (
    50 : #fffefa,
    100 : #fffbf2,
    200 : #fff9ea,
    300 : #fff7e1,
    400 : #fff5da,
    500 : #fff3d4,
    600 : #fff1cf,
    700 : #ffefc9,
    800 : #ffedc3,
    900 : #ffeab9,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$st4rsend-light-foreground: (
    50 : #e9e8e6,
    100 : #c8c6c1,
    200 : #a3a098,
    300 : #7e7a6f,
    400 : #635e50,
    500 : #474131,
    600 : #403b2c,
    700 : #373225,
    800 : #2f2a1f,
    900 : #201c13,
    A100 : #ffd164,
    A200 : #ffc131,
    A400 : #fdb100,
    A700 : #e49f00,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$st4rsend-light-primary: (
    50 : #e9eeed,
    100 : #c7d5d3,
    200 : #a2b9b6,
    300 : #7c9c98,
    400 : #608782,
    500 : #44726c,
    600 : #3e6a64,
    700 : #355f59,
    800 : #2d554f,
    900 : #1f423d,
    A100 : #86ffec,
    A200 : #53ffe4,
    A400 : #20ffdc,
    A700 : #07ffd8,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

