$st4rsend-light-background: (
    50 : #f8f8f8,
    100 : #eeeeee,
    200 : #e2e2e2,
    300 : #d6d6d6,
    400 : #cecece,
    500 : #c5c5c5,
    600 : #bfbfbf,
    700 : #b8b8b8,
    800 : #b0b0b0,
    900 : #a3a3a3,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffe9e9,
    A700 : #ffcfcf,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$st4rsend-light-foreground: (
    50 : #e9e8e6,
    100 : #c8c6c1,
    200 : #a3a098,
    300 : #7e7a6f,
    400 : #635e50,
    500 : #474131,
    600 : #403b2c,
    700 : #373225,
    800 : #2f2a1f,
    900 : #201c13,
    A100 : #ffd164,
    A200 : #ffc131,
    A400 : #fdb100,
    A700 : #e49f00,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$st4rsend-light-primary: (
    50 : #f8eff4,
    100 : #edd7e3,
    200 : #e1bdd0,
    300 : #d4a3bd,
    400 : #cb8fae,
    500 : #c27ba0,
    600 : #bc7398,
    700 : #b4688e,
    800 : #ac5e84,
    900 : #9f4b73,
    A100 : #fffcfd,
    A200 : #ffc9e2,
    A400 : #ff96c7,
    A700 : #ff7cb9,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

