/* You can add global styles to this file, and also import other style files */
@import 'theme.scss';

html, body {
  margin: 0;
  height: 100%;
}

my-app {
  display: block;
  height: 100vh;
}

.container {
	border: 1px solid blue;
  padding: 10px;
	margin: 10px 10px 10px 10px;
  box-sizing: border-box;
}

.form-container {
	display: flex;
	flex-direction: column;
}

.mat-checkbox-label {
  text-transform: capitalize;
}
