/* You can add global styles to this file, and also import other style files */
//@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'material-design-icons/iconfont/material-icons.css';
@import '~@angular/cdk/overlay-prebuilt.css';


html {
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: none;
	font-size: 1em;
	//font-family: helvetica;
	//font-family: franklin;
	//font-family: Times New Roman;
	font-family: georgia;
}

H1, H2, H3, H4, H5 {
	//font-family: 
}
H2 {
	text-indent: 1em;
}
H3 {
	text-indent: 3em;
}
H4 {
	text-indent: 6em;
}

pre {
	white-space: pre-wrap;
	padding: 0 2em 0 4em; 
}

p {
	margin-bottom: 0;
	text-indent: 2em;
	padding: 0 1em 0.5em 1em;	
}
/*
p+p {
	margin-top: 0;
	text-indent: 1em;
	padding: 0 2em 0 1em;	
}
*/
p~li {
	text-indent: -0.5em;
	padding: 0 1em .5em 3em;	
}

p::first-letter {
  //font-weight: bold;
}
