@import '~@angular/material/theming';
@import 'st4rsend-light-palette';
@import 'st4rsend-dark-palette';

@include mat-core();

$light-primary: mat-palette($st4rsend-light-primary);
$light-accent:  mat-palette($mat-purple);
$light-warn:    mat-palette($mat-red);

$light-background: mat-palette($st4rsend-light-background);
$light-foreground: mat-palette($st4rsend-light-foreground);

$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);

.light-theme {
	@include angular-material-theme($light-theme);
	background-color: mat-color($light-background,500);
	color: mat-color($light-foreground,700);
	a:link, a:visited, .a:link, .a:visited {
		color: mat-color($light-primary,900);
	};
	.outer-border {
		background-color: mat-color($light-background,800);
	};
	.doc-item {
		background-color: mat-color($light-background,400);
		//font-family: Roboto;
	}
	.doc-item-highlight {
		background-color: mat-color($light-background,800);
	}
	.doc-item-edit {
		background-color: mat-color($light-background,400);
		//font-family: Roboto;
	}
	.doc-item-edit-highlight {
		background-color: mat-color($light-background,800);
	}
	.app-header {
		background-color: mat-color($light-background,900);
	}
	.head-bar {
		background-color: mat-color($light-background,100);
	}
	H1 {
		color: mat-color($light-primary, 500);
		text-align: center;
	}
	H2, H3 {
		color: mat-color($light-primary, 800);
		padding-left: 10px;
	}
	H4, H5 {
		color: mat-color($light-accent, 800);
	}
	.mat-form-field-label {
		color: mat-color($light-primary,600);
	}
	.mat-form-field-outline{
		background-color: mat-color($light-background,300);
	}
	.mat-menu-item {
		background-color: mat-color($light-background,800);
	}
	.mat-menu-panel {
		color: mat-color($light-primary,800);
		background-color: mat-color($light-background,300);
	}
}

$dark-primary: mat-palette($st4rsend-dark-primary);
$dark-accent:  mat-palette($mat-light-green, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-background: mat-palette($st4rsend-dark-background);
$dark-foreground: mat-palette($st4rsend-dark-foreground);

$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.dark-theme {
	@include angular-material-theme($dark-theme);
	background-color: mat-color($dark-background,500);
	color: mat-color($dark-foreground,500);
	a:link, a:visited, .a:link, .a:visited {
		color: mat-color($dark-primary,500);
	};
	.outer-border {
		background-color: mat-color($dark-background,500);
	};
	.doc-item {
		background-color: mat-color($dark-background,500);
		//font-family: Roboto;
	}
	.doc-item-highlight {
		background-color: mat-color($dark-background,400);
	}
	.doc-item-edit {
		background-color: mat-color($dark-background,600);
		//font-family: Roboto;
	}
	.doc-item-edit-highlight {
		background-color: mat-color($dark-background,500);
	}
	.app-header {
		background-color: mat-color($dark-background,800);
	}
	.head-bar {
		background-color: mat-color($dark-background,600);
	}
	H1 {
		color: mat-color($dark-primary, 500);
		text-align: center;
	}
	H2, H3 {
		color: mat-color($dark-primary, 800);
		padding-left: 10px;
	}
	H4, H5 {
		color: mat-color($dark-accent, 800);
	}
	.mat-form-field-label {
		color: mat-color($dark-primary,600);
	}
	.mat-form-field-outline{
		background-color: mat-color($dark-background,300);
	}
	.mat-menu-item {
		color: mat-color($dark-primary,600);
		background-color: mat-color($dark-background,700);
	}
	.mat-menu-panel {
		color: mat-color($dark-primary,800);
		background-color: mat-color($dark-background,300);
	}
}
