a:visited {
	color: blue;
}

.nav-helper {
	border: thin solid blue;
	margin: 15px;
	padding: 15px;
}

.container {
	font-size: 26px;
}

.connected-apps {
	margin-top:20px;
	margin-bottom:20px;
}

.logged-apps {
	margin-top:20px;
	margin-bottom:20px;
}

