<div class="nav-helper">
	<H1 style="text-indent: 5em; text-align: left;">Bienvenue à St4rsend</H1>
	<H2>Accés rapides</H2>
	<div *ngIf="connectFlag" class="container connected-apps"> 
		<p>
			<li><a [routerLink]="['/doc/base', 2, 'St4rsend menu']">Racine des documentations</a>
			<li><a [routerLink]="['/doc/base', 9, 'Author']">A propos de l'auteur (CV)</a>
			<li><a routerLink="/mgmt/base">Admin corner</a>
		</p>
	</div>
	<div *ngIf="!connectFlag" class="not-connected">
		<p>
		La connexion (websocket) n'est pas opérationnelle.
		<BR>Celle-ci est nécessaire au fonctionnement de l'application.
		</p>
		<p>
		L'option Connect du menu <mat-icon color="primary">menu</mat-icon> permet une tentative de connexion.
		<BR>Un rechargement ou rafraichissement de la page est une autre approche de résolution.
		</p>
	</div>
<!--
	<div *ngIf="loginFlag" class="container logged-apps"> 
		<p><li><a routerLink="/mgmt/base">Management</a></p>
	</div>
-->
<H1 style="text-indent: 5em; text-align: left;">Introduction</H1>
<H2>Fonctionnement</H2>
<p><mat-icon color="primary">menu</mat-icon> Ce symbole dans le coin supérieur gauche propose par simple click l'ouverture du menu générique de l'application.</p>
<p>Dans le coin supérieur droit la présence des deux icones ci-dessous informe du statut de la relation client server:
<li><mat-icon color="accent">import_export</mat-icon> Une connexion opérationnelle.</li>
<li><mat-icon color="accent">fingerprint</mat-icon> Un utilisateur identifié.</li>
</p>
<p>
<b>Seul un utilisateur identifié est authorisé à opérer des modifications sur les contenus.</b>
<BR><b>Attention:</b><i>L'ensemble des fonctionnalités de modification restent accessibles à titre informatif. Cependant les changements de contenu demandés par un utilisateur non identifié seront refusés par le backend, et donc perdues à validation.</i>
</p>
<div>
	<div class="theming-table">
		<div class="theming-table-caption">
			<H2>Theming</H2>
		</div>
		<div class="theming-table-body">
			<div class="theming-table-row">
				<div class="theming-table-cell">
					<span class="primary-color">Primary color</span>
				</div>
				<div class="theming-table-cell">
					<button mat-raised-button 
						color="primary">Primary button</button>
				</div>
			</div>
			<div class="theming-table-row">
				<div class="theming-table-cell">
					<span class="accent-color">Accent color</span>
				</div>
				<div class="theming-table-cell">
					<button mat-raised-button
						color="accent">Accent button</button>
				</div>
			</div>
			<div class="theming-table-row">
				<div class="theming-table-cell">
					<span class="warn-color">Warn color</span>
				</div>		
				<div class="theming-table-cell">
					<button mat-raised-button
						color="warn">Warn button</button>
				</div>
			</div>
		</div>
			<div class="theming-table-row">
				<div class="theming-table-cell">
					Input box 
				</div>
				<div class="theming-table-cell">
					<mat-form-field appearance="outline">
						<mat-label>Domain</mat-label>
						<input placeholder="placeholder" matInput >
					</mat-form-field>
				</div>
			</div>
		</div>
	</div>
<h4>latex</h4>
<div [appMath]="mathLatex"></div>
<h4> mathml</h4>
<div [appMath]="mathMl"></div>

<h4>inner html</h4>
<div [appMath]>
  $E = mc^2$
</div>
</div>
