a:visited {
	color: blue;
}

.nav-helper {
	margin: 0 0 15px 15px;
	padding: 0 0 15px 15px;
}

.container {
	font-size: 26px;
}

.connected-apps {
	margin-top:20px;
	margin-bottom:20px;
}

.logged-apps {
	margin-top:20px;
	margin-bottom:20px;
}
