.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 10px 0 0 0;
}
.column {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 10px 0 0 0;
}
.column-top {
	flex: 1 0 auto;
	box-sizing: border-box;
	width: 100%;
}
.column-bottom {
	flex: 1 0 auto;
	box-sizing: border-box;
	width: 100%;
}
.row-50-left {
	flex: 1 0 auto;
	box-sizing: border-box;
	width: 44vw;
}
.row-33-left {
	flex: 1 0 auto;
	box-sizing: border-box;
	width: 27vw;
}
.row-66-left {
	flex: 1 0 auto;
	box-sizing: border-box;
	width: 60vw;
}
.row-right {
	flex: 1 0 auto;
	box-sizing: border-box;
	width: 100%;
}
