.map-container {
	margin: 1em 0 1em 0;
	display: flex;
	display-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

.list-container {
	flex: 0 1 auto;
	border-style: groove;
}
.list-title {
	border-style: groove;
}
.list-item {
	cursor: pointer;
}
.list-highlight {
	border: thin solid blue;
}
